.film-detail {
    display: flex;
    color: white;
    margin-top: 40px;

    .info {
        margin-left: 40px;
        .title {
            color: #b5e745;
            font-weight: 300;
            font-size: 1.875rem;
            padding-bottom: 20px;
        }

        .year,
        .nation {
            padding-top: 20px;
            color: #b5e745;

            span {
                color: white;
            }
        }

        .des {
            max-width: 650px;
            margin-top: 20px;
            font-size: 13px;
            line-height: 1.5;
            font-weight: 300;
            font-family: Verdana, Geneva, Tahoma, sans-serif, sans-serif;
            opacity: 0.7;
        }
    }
}
